<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
        <link rel="stylesheet" href="style.css">

</head>
<body>
    {{>header}}
    <div class="about">

    <h3>This Page is Static</h3>
    <h3>This Project is made from Node js</h3>
    <h3>Weather Api is used from Weather Stack Api</h3>
    </div>
    {{>footer}}
</body>
</html>